* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html {
   font-family: 'Roboto', sans-serif;
}


.promo {
    height: 800px;
    background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    padding-top: 9.5px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

h1 {
    margin-top: 53px;
}

.title {
    color: #f9bf3d;
    font-size: 41px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big {
    color: #ffffff;
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

h2.title {
    margin-top: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    font-weight: 300;
    text-align: center;

}
.promo .promo_text span {
    color: #f9bf3d;
    font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
    
    display: block;
    margin: 0px auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    color: #ffffff;
    font-size: 21px;
    font-weight: 200;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;

}

.gift .gift_btn {
    margin-top: 51px;
}

.promo .more_text {
    margin-top: 70.5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.promo .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.expectation {
    min-height: 604px   ;
    background-color: #EFEFEF;
    padding: 86px 0 74px 0;
}

.expectation .waiting_header, .finish .finishing_header {
    
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}


.finish .finishing_header {
    color: #ffffff;
}

.expectation .waiting_divider, .finish .finishing_divider {
    margin: 0 auto;
    margin-top: 18px;
    width: 220px;
    height: 5px;
    background-color: #F9BF3B;
    
}

.expectation .waiting_subheader {
    margin-top: 17px;
    font-family: Roboto;
    color: #4a4a4a;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    text-align: center;
}

.expectation .waiting_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.expectation .waiting_wrapper .waiting_item {
    width: 339px;
}

.expectation .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 33px;
    text-align: center;
    color: #4A4A4A;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

}

.expectation .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}


.optimization {
    min-height: 547px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    margin-left: 391px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    font-family: "Roboto";
    font-style: normal;
    margin-left: 391px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: -47px;
    left: -240px;
    z-index: -1;

}

.finish {
    min-height: 450px;
    background: url("../img/bg/second_bg.jpg"), center center/cover no-repeat;
    
    padding: 86px 0 68px 0;
}

.finish .finishing_wrapper {
    padding-top: 39px;
    display: flex;
    justify-content: space-around;
}

.finish .finishing_wrapper .finish_item {
    width: 204px;
}

.finish  .finishing_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    border-radius: 100%;
    
}

.finish  .finishing_wrapper .finish_item .finish_text {
    padding-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
    text-align: center;
}

.gift {
    min-height: 631px;
    padding: 69px 0 88px 0;
    background:  #EFEFEF;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
}

.gift .gift_text {
    padding-top: 45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
}

.planned {
    min-height: 530px;
    padding: 97px 0 0 0;
}

.planned .planned_img {
    display: block;
    margin: 0 auto;
}

.planned .planned_info {
    margin-top: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #252525;
    text-transform: uppercase;
    text-align: center;
} 

.planned .planned_time {
    margin-top: 30px;
    font-family: 'Roboto';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #299CBD;
}

.planned .planned_subheader {
    margin-top: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #4A4A4A;
    text-align: center;
}

.footer {
    min-height: 169px;
    background: #1A1A1A;
    padding: 57px 0 69px 0;

}

.footer .footer_text {
    width: 407px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    
    text-align: center;
    margin: 0 auto;

    color: #888888;

}